<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aboutus</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_794813_tjvkyx3ko68.css">
    <link rel="stylesheet" href="/static/css/aboutus.css">
</head>
<body>
    <div class="logo"></div>
    <div class="btn">
        <div class="box"></div>
    </div>
    <!--侧边导航栏开始-->
    <div class="aside">
        <div class="left">
            <div class="imgbox"></div>
            <div class="text">
                <i class="iconfont icon-iconfontshouji"></i>
                扫一扫微信二维码
            </div>
        </div>
        <div class="btn1">
            <div class="box1"></div>
        </div>
        <ul class="right">
            <li><a href="/">首页</a></li>
            <li><a href="/aboutus">关于我们</a></li>
            <li><a href="/business">核心业务</a></li>
            <li><a href="/product">农场产品</a></li>
            <li><a href="/news">新闻资讯</a></li>
            <li><a href="/contact">联系我们</a></li>
        </ul>
    </div>
    <!--侧边导航栏结束-->
    <header></header>
    <div class="nav">首页&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;关于我们</div>
    <div class="us_box"></div>
    <div class="us">
        <h2>关于我们</h2>
        <h3>ABOUT</h3>
    </div>
    <div class="main">
        <div class="top">
            光明华侨农场(集团)公司位于深圳市西北部，总面积54.6平方公里，拥有31平方公里的森林。
            良好的自然生态环境基础和发达的现代化农牧业以及高科技工业，使我场的生态旅游独具特色，在青山、水畔、果园、劳动园地中爬山、踏青、体会农业劳动之乐；在奶牛场、白鸽场、千亩荔枝园等景区漫步；一幅幅古朴而生动的农业景观让您心旷神怡，各种参与性的劳动将带给您无穷的乐趣；丰富的时令鲜果、蔬菜，光明烧乳鸽、各种奶制品、饮料以及西式肉制品可让您一饱口福，满载而归……
            光明农场大力实施一系列发展项目，现已建成一个目前全国规模最大、配置最全的滑草场和滑车场，同时将光明的一条旧街改造成欧陆风情的、充满侨乡特色的一条新街，它是光明的形象工程和农业观光旅游的又一个新亮点。
            光明，这个"绿色食品之王国，农业旅游之胜地"热情欢迎您的光临！
        </div>
        <div class="bottom"></div>
    </div>
    <div class="work">版权所有 ©  农产品企业模板</div>
    <script src="/static/js/index.js"></script>
</body>
</html>