<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product01</title>
    <link rel="stylesheet" href="/static/css/product01.css">
</head>
<body>
    <div class="logo"></div>
    <div class="btn">
        <div class="box"></div>
    </div>
    <!--侧边导航栏开始-->
    <div class="aside">
        <div class="left">
            <div class="imgbox"></div>
            <div class="text">
                <i class="iconfont icon-iconfontshouji"></i>
                扫一扫微信二维码
            </div>
        </div>
        <div class="btn1">
            <div class="box1"></div>
        </div>
        <ul class="right">
            <li><a href="/">首页</a></li>
            <li><a href="/aboutus">关于我们</a></li>
            <li><a href="/business">核心业务</a></li>
            <li><a href="/product">农场产品</a></li>
            <li><a href="/news">新闻资讯</a></li>
            <li><a href="/contact">联系我们</a></li>
        </ul>
    </div>
    <!--侧边导航栏结束-->
    <header></header>

    {% for item in data %}
    <div class="nav">首页&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;{{item[1]}}</div>
    {% endfor %}


    <div class="main">
        {% for item in data %}
        <div class="title">{{item[1]}}</div>
        <div class="text">发布日期：{{item[5]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览次数：{{item[4]}}</div>
        <div class="imgbox" style="background:url({{item[2]}}) no-repeat center;background-size:cover"></div>
        <div class="word">{{item[6]}}</div>
        <div class="bottom">
            <div class="left">分享到：</div>
            <ul class="right">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        {% endfor %}
    </div>

    <div class="work">版权所有 ©  农产品企业模板</div>
    <script src="/static/js/index.js"></script>
</body>
</html>